@inject SignInManager<ApplicationUser> signInManager;
@inject SQLSettingsRepository settingRepository;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />

    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
        <link href="~/lib/jqueryui/themes/base/jquery-ui.css" rel="stylesheet" />

        <link href="~/lib/datatables/DataTables-1.10.20/css/jquery.dataTables.css" rel="stylesheet" />
        <script src="~/lib/datatables/DataTables-1.10.20/js/jquery.dataTables.js"></script>

        <script src="~/lib/jquery-tabledit-1.2.3/jquery.tabledit.min.js"></script>
    </environment>
    <environment exclude="Staging">
        @*<link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
              asp-fallback-href=""
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true">*@
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </environment>
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/lib/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/DataTables-1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>


    <link href="~/lib/datatables-buttons/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables-buttons/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/buttons.flash.min.js"></script>
    <script src="~/lib/datatables-buttons/jszip.min.js"></script>
    <script src="~/lib/datatables-buttons/pdfmake.min.js"></script>
    <script src="~/lib/datatables-buttons/vfs_fonts.js"></script>
    <script src="~/lib/datatables-buttons/buttons.html5.min.js"></script>
    <script src="~/lib/datatables-buttons/buttons.print.min.js"></script>


    <script src="~/lib/printthis/printThis.js"></script>

    <link href="~/css/Site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/simple-sidebar.css" rel="stylesheet" />
</head>
<body>
    <div class="d-flex" id="wrapper">
        <div id="#SideB"></div>

        <!-- Sidebar -->
        @if (signInManager.IsSignedIn(User))// && (User.IsInRole("Admin")))// || User.IsInRole("PowerUsers")) )
        {
            <div class="bg-dark border-right" id="sidebar-wrapper">
                <div class="sidebar-heading text-info">Multi Solution </div>
                <!-------------- start of Accordion   -->
                <div class="list-group list-group-flush bg-secondary">
                    <div id="accordion" class="bg-transparent m-0">

                        @*@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {*@
                            <div id="crdSettings" hide class="card bg-transparent">
                                <div class="card-header" style="padding-left:0rem;padding-right:0rem;padding-top:0rem;padding-bottom:0rem;">
                                    <a class="list-group-item list-group-item-action bg-dark text-light" data-toggle="collapse" href="#mnuSettings">
                                        <i class="fa fa-cog"></i>
                                        Settings
                                    </a>
                                </div>
                                <div id="mnuSettings" data-collapsed="false" class="collapse hide" data-parent="#accordion">
                                    <div class="card-body" style="padding:0px;">
                                        <a id="lnkEmployees" asp-action="EmployeeList" asp-controller="Home" class="hideElem list-group-item list-group-item-action bg-dark text-light">Employees</a>
                                        <a id="lnkBranches" asp-action="ListBranches" asp-controller="Branches" class="hideElem list-group-item list-group-item-action bg-dark text-light">Branches</a>
                                        <a id="lnkProjects" asp-action="ListProjects" asp-controller="Projects" class="hideElem list-group-item list-group-item-action bg-dark text-light">Projects</a>
                                        <a id="lnkCustomers" asp-action="ListCustomers" asp-controller="Customer" class="hideElem list-group-item list-group-item-action bg-dark text-light">Customers</a>
                                        <a id="lnkSuppliers" asp-action="ListSuppliers" asp-controller="Suppliers" class="hideElem list-group-item list-group-item-action bg-dark text-light">Suppliers</a>
                                        <a id="lnkItemUnits" asp-action="ListItemUnit" asp-controller="Settings" class="hideElem list-group-item list-group-item-action bg-dark text-light">Item Units</a>
                                        <a id="lnkItems" asp-action="ListItems" asp-controller="Settings" class="hideElem list-group-item list-group-item-action bg-dark text-light">Items</a>
                                        <a id="lnkMainItems" asp-action="ListMainItems" asp-controller="Settings" class="hideElem list-group-item list-group-item-action bg-dark text-light">Main Items</a>
                                        <a id="lnkItemCategory" asp-action="ListItemCategory" asp-controller="Settings" class="hideElem list-group-item list-group-item-action bg-dark text-light">Item Categories</a>
                                        <a id="lnkCurrency" asp-action="ListCurrency" asp-controller="Settings" class="hideElem list-group-item list-group-item-action bg-dark text-light">Currency</a>
                                    </div>
                                </div>
                            </div>
                        @*}*@
                        <div id="crdTasks" hide class="card bg-transparent">
                            <div class="card-header" style="padding-left:0rem;padding-right:0rem;padding-top:0rem;padding-bottom:0rem;">
                                <a class="list-group-item list-group-item-action bg-dark text-light" data-toggle="collapse" href="#mnuTMS">
                                    <i class="fa fa-tasks"></i>
                                    Tasks
                                </a>
                            </div>
                            <div id="mnuTMS" class="collapse show" data-parent="#accordion">
                                <div class="card-body" style="padding:0px;">
                                    <a id="lnkAllTasks" asp-action="ListTasks" asp-controller="Tasks" class="hideElem list-group-item list-group-item-action bg-dark text-light">All</a>
                                    <a id="lnkTaskByProject" asp-action="ListTasksByProject" asp-controller="Tasks" class="hideElem list-group-item list-group-item-action bg-dark text-light">By Project</a>
                                    <a id="lnkTaskByOwner" asp-action="ListTasksByTaskOwner" asp-controller="Tasks" class="hideElem list-group-item list-group-item-action bg-dark text-light">By Task Owner</a>
                                    <a id="lnkTaskByResponsible" asp-action="ListTasksByResponsible" asp-controller="Tasks" class="hideElem list-group-item list-group-item-action bg-dark text-light">By Responsible</a>
                                    <a id="lnkTaskByStatus" asp-action="ListTasksByStatus" asp-controller="Tasks" class="hideElem list-group-item list-group-item-action bg-dark text-light">By Status</a>
                                    <a id="lnkTaskReports" asp-action="TaskReport" asp-controller="Tasks" class="hideElem list-group-item list-group-item-action bg-dark text-light">Task Reports</a>
                                </div>
                            </div>
                        </div>

                        <div id="crdOrders" hide class="card bg-transparent">
                            <div class="card-header" style="padding-left:0rem;padding-right:0rem;padding-top:0rem;padding-bottom:0rem;">
                                <a class="list-group-item list-group-item-action bg-dark text-light" data-toggle="collapse" href="#mnuPurchaseOrders">
                                    <i class="fa fa-dollar-sign"></i>
                                    Orders
                                </a>
                            </div>
                            <div id="mnuPurchaseOrders" class="collapse hide" data-parent="#accordion">
                                <div class="card-body" style="padding:0px;">
                                    <a id="lnkAllPurchaseOrders" asp-action="ListPurchaseOrders" asp-controller="PurchaseOrders" class="hideElem list-group-item list-group-item-action bg-dark text-light">Purchase Orders</a>
                                    <a id="lnkPurchaseOrdersReports" asp-action="printPurchaseOrderList" asp-controller="PurchaseOrders" class="hideElem list-group-item list-group-item-action bg-dark text-light">Purchase Orders Reports</a>
                                    
                                </div>
                            </div>
                        </div>

                        <div id="crdOffers" hide class="card bg-transparent">
                            <div class="card-header" style="padding-left:0rem;padding-right:0rem;padding-top:0rem;padding-bottom:0rem;">
                                <a class="list-group-item list-group-item-action bg-dark text-light" data-toggle="collapse" href="#mnuOffers">
                                    <i class="fa fa-dollar-sign"></i>
                                    Offers
                                </a>
                            </div>
                            <div id="mnuOffers" class="collapse hide" data-parent="#accordion">
                                <div class="card-body" style="padding:0px;">
                                    <a id="lnkAllOffers" asp-action="ListOffers" asp-controller="Offers" class="hideElem list-group-item list-group-item-action bg-dark text-light">Offers List</a>

                                </div>
                            </div>
                        </div>


                        <!-------------- End of Accordion   -->

                    </div>

                </div>            <!-------------- start of Buttons   -->
                @*<div class="list-group list-group-flush">

                    <a asp-action="EmployeeList" asp-controller="Home" class="list-group-item list-group-item-action bg-dark text-light">Employees</a>
                    <a asp-action="ListBranches" asp-controller="Branches" class="list-group-item list-group-item-action bg-dark text-light">Branches</a>
                    <a asp-action="ListProjects" asp-controller="Projects" class="list-group-item list-group-item-action bg-dark text-light">Projects</a>
                    <a asp-action="ListCustomers" asp-controller="Customer" class="list-group-item list-group-item-action bg-dark text-light">Customers</a>
                    <a asp-action="ListTasks" asp-controller="Tasks" class="list-group-item list-group-item-action bg-dark text-light">Tasks</a>
                </div>*@
                <!-------------- End of Buttons   -->
            </div>
        }
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom sticky-top">
                <a class="navbar-brand" asp-controller="Home" asp-action="index">
                    <img src="~/images/msisLogo.jpg" height="30" width="30" />
                </a>

                @if (signInManager.IsSignedIn(User))
                {
                    @*<p>I will display &#x226A;</p>*@
                    <button class="btn btn-dark  btn-sm" id="menu-toggle" style="width:auto;position:absolute;left:60px;"><i class="fa fa-arrow-left"></i>  </button>
                    <button id="showHide" hidden>Show</button>
                }





                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a asp-action="ListRoles" asp-controller="Administration" class="nav-link dropdown-toggle"
                                   id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Manage
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a asp-action="ListUsers" asp-controller="Administration"
                                       class="dropdown-item">
                                        Users
                                    </a>
                                    <a asp-action="ChangeUserPassword" asp-controller="Administration"
                                       class="dropdown-item">
                                        Change User Password
                                    </a>
                                    <a asp-action="ListRoles" asp-controller="Administration"
                                       class="dropdown-item">
                                        Roles
                                    </a>

                                </div>
                            </li>

                        }

                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Connect</a>
                        </li>


                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item ">
                                <form asp-action="logout" asp-controller="account" method="post">
                                    <button type="submit" class="nav-link btn btn-link " style="width:auto">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-action="Register" asp-controller="Account" class="nav-link">Register</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="login" asp-controller="Account" class="nav-link">Login</a>
                            </li>
                        }
                    </ul>

                </div>
            </nav>

            <!-- Page body -->
            <div class="container-fluid">
                <div>

                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        @*<div>
            @RenderBody()
        </div>*@
        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", required: true)
        }
        <!-- Menu Toggle Script -->

        <script src="~/js/CustomScript.js"></script>
        <script>
            $(document).ready(function () {

                $('#myTable').DataTable( {
                    dom: 'Bfrtip',
                    buttons: [
                         'print'
                    ]
                });

            $.ajax({
                url: '/Settings/getMainMenuPermission?UserId=@signInManager.UserManager.GetUserId(User)',
                type: 'Get',
                success: function (response) {
                    $('#crdSettings').hide();
                    $('#crdTasks').hide();
                    $('#crdOrders').hide();
                    $('#crdOffers').hide();
                    ApplyPermission(response);
                    //$('#SideB').html(response);
                 }
            });


            } );

            $("#menu-toggle").click(function (e) {
                e.preventDefault();

                var $butt = $(this);
            if ( $('#showHide').text()=='hide') {

                    $butt.html('<span><i class="fas fa-arrow-left"></i></span>');
                 $('#showHide').text('show');

                } else {
                   $('#showHide').text('hide');
                      $butt.html('<i class="fas fa-arrow-right"></i>');
              }


                $("#wrapper").toggleClass("toggled");
            });



        </script>
    </div>
</body>
</html>