@model Supplier
@{
    ViewBag.Title = "Details";
}



<div class="card mt-3">
    <div class="card-header text-center">
        <h4 class="card-title"> Supplier Details</h4>
    </div>
    <div class="card-body">
        <h5 class="card-text">Id : @Model.Id</h5>
        <h5 class="card-text">Name :@Model.SupplierName</h5>
        <h5 class="card-text">Address: @Model.Address</h5>
        <h5 class="card-text">Mobile: @Model.MobileNo</h5>
        <h5 class="card-text">Phone: @Model.Phone</h5>
        <h5 class="card-text">Fax: @Model.Fax</h5>
        <h5 class="card-text">Email :@Model.Email</h5>
        <h5 class="card-text">More Information :@Model.OtherInformation</h5>
    </div>
    <div class="card-footer text-center">
        <a asp-action="ListSuppliers" asp-controller="Suppliers" class="btn btn-outline-danger ml-2" style="width:auto;"><i class="fa fa-backward"></i> Back</a>
        <a asp-action="Edit" asp-controller="Suppliers" asp-route-Id="@Model.Id" class="btn btn-outline-primary" style="width:auto;"><i class="fa fa-edit"></i> Edit</a>

    </div>
</div>

