@model SupplierDetailsViewModel
@{
    ViewBag.Title = "Details";
}



<div class="card mt-3">
    <div class="card-header text-center">
        <h4 class="card-title"> Supplier Details</h4>
    </div>
    <div class="card-body">
        <div class="flex-container col-sm-12 row pl-2">
            <div class="input-group col-sm-6 mt-1 ">
                <span class="input-group-text col-sm-4 " id="Id-addon">Supplier Id</span>
                <span class="form-control col-sm-4" placeholder="Id" aria-describedby="Id-addon"> @Model.Supplier.Id</span>
            </div>
            <div class="input-group col-sm-6 mt-1 ">
                <span class="input-group-text col-sm-4 " id="SupplierCode-addon">Supplier Code</span>
                <span class="form-control col-sm-4" placeholder="Supplier Code" aria-describedby="SupplierCode-addon"> @Model.Supplier.SupplierCode</span>
            </div>
        </div>
        <div class="input-group col-sm-12 mt-1 row">
            <span class="input-group-text col-sm-2 " id="SupplierName-addon">Supplier Name</span>
            <span class="form-control col-sm-10" placeholder="Supplier Name" aria-describedby="SupplierName-addon"> @Model.Supplier.SupplierName</span>
        </div>

        <div class="input-group col-sm-12 mt-1 row">
            <span class="input-group-text col-sm-2 " id="Address-addon">Address</span>
            <span class="form-control col-sm-8" placeholder="Address" aria-describedby="Address-addon"> @Model.Supplier.Address</span>
        </div>
        <div class="input-group col-sm-12 mt-1 row">
            <span class="input-group-text col-sm-2 " id="MobileNo-addon">Mobile No</span>
            <span class="form-control col-sm-8" placeholder="Mobile No" aria-describedby="MobileNo-addon"> @Model.Supplier.MobileNo</span>
        </div>
        <div class="input-group col-sm-12 mt-1 row">
            <span class="input-group-text col-sm-2 " id="Phone-addon">Phone No</span>
            <span class="form-control col-sm-8" placeholder="Phone No" aria-describedby="Phone-addon"> @Model.Supplier.Phone</span>
        </div>
        <div class="input-group col-sm-12 mt-1 row">
            <span class="input-group-text col-sm-2 " id="Fax-addon">Fax</span>
            <span class="form-control col-sm-8" placeholder="Fax" aria-describedby="Fax-addon"> @Model.Supplier.Fax</span>
        </div>
        <div class="input-group col-sm-12 mt-1 row">
            <span class="input-group-text col-sm-2 " id="Email-addon">e-mail</span>
            <span class="form-control col-sm-8" placeholder="e-mail" aria-describedby="Email-addon"> @Model.Supplier.Email</span>
        </div>
        <div class="input-group col-sm-12 mt-1 row">
            <span class="input-group-text col-sm-2 " id="OtherInformation-addon">Other Information</span>
            <span class="form-control col-sm-8" placeholder="Other Information" aria-describedby="OtherInformation-addon"> @Model.Supplier.OtherInformation</span>
        </div>

    </div>
    <div class="card-footer text-center">
        <a asp-action="ListSuppliers" asp-controller="Suppliers" class="btn btn-outline-danger ml-2" style="width:auto;"><i class="fa fa-backward"></i> Back</a>
        @if (Model.Permission.CanEdit) { 
            <a asp-action="Edit" asp-controller="Suppliers" asp-route-Id="@Model.Supplier.Id" class="btn btn-outline-primary" style="width:auto;"><i class="fa fa-edit"></i> Edit</a>
        }

    </div>
</div>

@section Scripts{
    <script>
            $(window).ready(function () {
                $('#mnuTMS').removeClass('collapse show');
                $('#mnuSettings').addClass('collapse show');
                $('#mnuTMS').addClass('collapse hide');
            });
    </script>
}