@model LearnNetCore.ViewModels.HomeDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title= "Employee Details";
}

@*<h3>@ViewBag.PageTitle</h3>*@
<h3>@Model.PageTitle</h3>
@*@{
        var Employee = ViewData["EMployee"] as LearnNetCore.Models.Employee;
    }*@
<div>
    @*Name: @Employee.Name*@
    @*Name: @ViewBag.Employee.Name*@
    Name: @Model.Employee.Name
</div>
<div>
    @*E-Mail: @Employee.Email*@
    @*E-mail: @ViewBag.Employee.Email*@
    E-mail: @Model.Employee.Email
</div>
<div>
    @*Department: @Employee.Department*@
    @*Department: @ViewBag.Employee.Department*@
    Department: @Model.Employee.Department
</div>
@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}