@model HomeDetailsViewModel

@{
    ViewBag.Title= "Employee Details";
    var PhotoPath = "~/images/" + (Model.Employee.PhotoPath ?? "noImage.png");
}
<div class="row justify-content-center m-3">
    <div class="col-sm-4">
        <div class=" card">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="@PhotoPath" asp-append-version="true" />
                <h4>Employee ID: @Model.Employee.Id</h4>
                <h4>E-mail: @Model.Employee.Email</h4>
                <h4>Department: @Model.Employee.Id</h4>
            </div>
            <div class="card-footer text-center">
                <a href=@Url.Action("EmployeeList","Home") class="btn btn-primary">Back</a>
                @*<a asp-controller="home" asp-action="EmployeeList" class="btn btn-primary">Back</a>*@
                <a asp-controller="home" asp-action="edit" asp-route="@Model.Employee.Id" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>

    </div>
</div>

@*<h3>@ViewBag.PageTitle</h3>*@
<h3>@Model.PageTitle</h3>
@*@{
        var Employee = ViewData["EMployee"] as LearnNetCore.Models.Employee;
    }*@
<div>
    @*Name: @Employee.Name*@
    @*Name: @ViewBag.Employee.Name*@
    Name: @Model.Employee.Name
</div>
<div>
    @*E-Mail: @Employee.Email*@
    @*E-mail: @ViewBag.Employee.Email*@
    E-mail: @Model.Employee.Email
</div>
<div>
    @*Department: @Employee.Department*@
    @*Department: @ViewBag.Employee.Department*@
    Department: @Model.Employee.Department
</div>
@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}