<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>@ViewData["PageTitle"]</h3>
    @*@{ 
        var Employee = ViewData["EMployee"] as LearnNetCore.Models.Employee;
    }*@
    <div>
        @*Name: @Employee.Name*@
        Name: @ViewBag.Employee.Name
    </div>
    <div>
        @*E-Mail: @Employee.Email*@
        E-mail: @ViewBag.Employee.Email
    </div>
    <div>
        @*Department: @Employee.Department*@
        Department: @ViewBag.Employee.Department
    </div>
</body>
</html>