@model OfferListViewModels
@{
    ViewData["Title"] = "List Offers";
}
<!----------------------Confirm Delete -->
<div class="modal fade" id="dlgConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel">title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><h5 class="card-text">Are you sure you want to delete?</h5></span>
                <input id="txtDeleteItemID" type="text" hidden placeholder="text" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" style="width:auto;"><i class="fa fa-times"></i> cancel</button>
                <button id="btnSave" data-dismiss="modal" onclick="DeleteItem()" type="button" class="btn btn-outline-danger" style="width:auto;"><i class="fa fa-trash"></i> Delete </button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="flex-container text-center">
            <span class="col-11"><h5> Offers List</h5></span>
                @if (Model.userPermission != null)
                {
                    if (Model.userPermission.CanAdd == true)
                    {
                        <a class="nav-link btn btn-outline-secondary  btn-sm" asp-action="Create" asp-controller="Offers" style="width:auto;"><i class="fa fa-plus-circle"></i> <span class="sr-only">(current)</span></a>
                    }
                }


        </div>
    </div>

    <div style=" border:solid 1px black; padding:3px;">
        <table class="table table-hover" id="myTable">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Offer Date</th>
                    <th>Customer</th>
                    <th>Currency</th>
                    <th>Total</th>
                    <th style="width:30px;"></th>
                    @if (Model.userPermission.CanDelete)
                    {
                        <th style="width:30px;"></th>
                    }

                </tr>
            </thead>



            @foreach (var offer in Model.OfferList)
            {

                <tr>
                    <td>@offer.Id</td>
                    <td>@offer.OfferDate.ToString("dd/MM/yyyy")</td>
                    <td>@offer.CustomerName</td>
                    <td>@offer.CurrencyName</td>
                    <td>@offer.TotalPrice</td>
                    <td><a class="btn btn-outline-primary btn-sm rounded-circle " style="width:auto" asp-action="Details" asp-controller="Offers" asp-route-Id="@offer.Id"><i class="fa fa-eye"></i></a></td>
                    @if (Model.userPermission.CanDelete)
                    {
                        <td>
                            @*<form asp-action="DeleteCustomer" asp-route-Id="@offer.Id" method="post">
                        <span id="confirmDeleteSpan_@offer.Id" style="display:none">
                            <span>Are you sure you want to delete?</span>
                            <button type="submit" class="btn btn-danger"><i class="fa fa-check-circle"></i>Yes</button>
                            <a href="#" class="btn btn-primary"
                               onclick="confirmDelete('@offer.Id',false)"><i class="fa fa-times-circle"></i> No</a>
                        </span>
                        <span id="deleteSpan_@offer.Id">*@
                            <a href="#" class="btn btn-outline-danger rounded-circle btn-sm" style="width:auto"
                               onclick="contDelete('@offer.Id',true)"><i class="fa fa-trash"></i></a>
                            @*</span>

                        </form>*@
                        </td>
                    }
                </tr>

            }
            @if (Model.OffersTotals.Any())
            {
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    @foreach (var total in Model.OffersTotals)
                    {
                        <tr>
                            <td colspan=4></td>
                            <td>@total.TotalAmount.ToString("#0.00")  @total.CurrencyName</td>
                        </tr>
                    }
                </tfoot>
            }


        </table>
    </div>
</div>
@section Scripts{

    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/js/CustomScript.js"></script>
    <script src="~/lib/printthis/printThis.js"></script>
    <script>
        $(window).ready(function () {
            $('#mnuTMS').removeClass('collapse show');
            $('#mnuOffers').addClass('collapse show');
            $('#mnuTMS').addClass('collapse hide');
        });

        //---------------Confirm Item Delete
        function contDelete(ItemId) {
            $('#txtDeleteItemID').val(ItemId);
            $('#dlgConfirmDelete').modal('show');
        };

        //-------------- Delete Item Button
        function DeleteItem() {
            $.post('/Offers/Delete',
                {
                    Id: $('#txtDeleteItemID').val()
                },
                function (response, status) {
                    location.reload(true);

                }
            );
        };

    </script>
}
