@model List<TaskActionDetailsViewModel>
@if (Model.Any())
{
    <table class="table  border table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Description</th>
                @*<th>Status</th>*@
                <th>Status</th>
                <th>User Name</th>
            </tr>
        </thead>
        @foreach (var action in Model)
        {
            <tr>
                <td>
                    <span><h5>@action.TimeStamp</h5></span>
                </td>
                <td>
                    <span><h5>@action.Description</h5></span>
                </td>
                @*<td>
                        <span><h5>@action.CurrentTaskStatusName</h5></span>
                    </td>*@
                <td>
                    <span><h5>@action.TaskStatusName</h5></span>
                </td>
                <td>
                    <span><h5>@action.UserName</h5></span>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h5 class="card-title">none at the moment</h5>
}