@model TaskDetailsViewModel
@{
    ViewData["Title"] = "Details";
}


<div>
     <a class="btn btn-outline-secondary" asp-action="PrintTaskDetails" asp-controller="Tasks" asp-route-Id="@Model.Id" style="width:auto;"> <i class="fa fa-print"> Print</i></a>
</div>
<div class="card mt-3">
    <div class="card-header">
        <h3 class="text-center">Task Details</h3>
        @if (Model.TaskStatusId == 1)
        {
            <form asp-action="StartTask">
                <div class="form-group rounded row">
                    <span>Description</span>
                    <input asp-for="Id" hidden />
                    <input asp-for="Description" class="form-control" />

                    <button type="submit" class="btn btn-primary">Start!</button>

                </div>
            </form>

        }
        else if (Model.TaskStatusId == 2)
        {
            <form asp-action="CompleteTask">
                <div class="form-group rounded row">

                    <span>Description</span>
                    <input asp-for="Id" hidden />
                    <input asp-for="Description" class="form-control" />

                    <button type="submit" class="btn btn-primary">Done!</button>

                </div>
            </form>

        }
        else if (Model.TaskStatusId == 4)
        {
            @if (User.IsInRole("Admin")||User.Identity.Name==Model.TaskOwnerUserName)
            {
                <form asp-action="VerifyTaskExecution">
                    <div class="form-group rounded row">
                        <input asp-for="Id" hidden />
                        <div class="form-group row">
                            @* <label asp-for="TaskOperation" class="col-sm-2 col-form-label"></label>*@
                            <div class="col-sm-10">
                                <select asp-for="TaskOperation" asp-items="Html.GetEnumSelectList<TaskOperation>()" class="form-control" style="width:auto;">
                                    <option value="">Verify Task</option>
                                </select>
                                <span asp-validation-for="TaskOperation" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <span>Description</span>
                        <input asp-for="Description" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-primary">Done!</button>


                </form>
            }
            @* <a asp-action="VerifyTaskExecution" asp-controller="Tasks" asp-route-Id="@Model.Id" class="btn btn-primary" style="width:auto;">Approved!</a>
            <a asp-action="RejectTask" asp-controller="Tasks" asp-route-Id="@Model.Id" class="btn btn-primary" style="width:auto;">Rejected!</a>*@
        }

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group mt-sm-3">
                    <span id="Id-addon" class="col-sm-3 input-group-text">Task Id</span>
                    <span class="form-control col-sm-4" aria-describedby="Id-addon"><h5>@Model.Id</h5></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group mt-sm-3">
                    <span id="Id-addon" class="col-sm-3 input-group-text">Date</span>
                    <span class="form-control col-sm-6" aria-describedby="Id-addon"><h5>@Model.TaskDate.ToString("dd/MM/yyyy")</h5></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group mt-sm-3">
                    <span id="TaskStartDate-addon" class="col-sm-3 input-group-text">Strat Date</span>
                    <span class="form-control col-sm-6" aria-describedby="TaskStartDate-addon"><h5>@Model.TaskStartDate.ToString("dd/MM/yyyy")</h5></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group mt-sm-3">
                    <span id="TaskEndDate-addon" class="col-sm-3 input-group-text">End Date</span>
                    <span class="form-control col-sm-6" aria-describedby="TaskEndDate-addon"><h5>@Model.TaskEndDate.ToString("dd/MM/yyyy")</h5></span>
                </div>
            </div>
        </div>

        <div class="input-group mt-sm-3">
            <span id="taskSubject-addon" class="col-sm-2 input-group-text">Subject</span>
            <span class="form-control col-sm-8" aria-describedby="taskSubject-addon"><h5>@Model.TaskSubject</h5></span>
        </div>

        <div class="input-group mt-sm-3">
            <span id="Responsible-addon" class="col-sm-2 input-group-text">Responsible</span>
            <span class="form-control col-sm-8" aria-describedby="Responsible-addon"><h5>@Model.TaskResponsibleName</h5></span>
        </div>

        <div class="input-group mt-sm-3">
            <span id="Project-addon" class="col-sm-2 input-group-text">Project</span>
            <span class="form-control col-sm-8" aria-describedby="Project-addon"><h5>@Model.ProjectName</h5></span>
        </div>
        <div class="input-group mt-sm-3">
            <span id="Description-addon" class="col-sm-2 input-group-text">Description</span>
            <span class="form-control col-sm-8" aria-describedby="Description-addon"><h5>@Model.Description</h5></span>
        </div>
        <div class="input-group mt-sm-3">
            <span id="OtherInformation-addon" class="col-sm-2 input-group-text">More Information</span>
            <span class="form-control col-sm-8" aria-describedby="OtherInformation-addon"><h5>@Model.OtherInformation</h5></span>
        </div>

    </div>
    <div class="card-footer">
        <div class="text-center mr-sm-2">
            @if (User.IsInRole("Admin") || User.Identity.Name == Model.TaskOwnerUserName)
            {
                <a asp-action="Edit" asp-controller="Tasks" asp-route-Id="@Model.Id" style="width:auto;" class="btn btn-outline-primary"><i class="fa fa-edit"></i> Edit</a>
            }
            <a asp-action="ListTasks" asp-controller="Tasks" style="width:auto;" class="btn btn-outline-danger ml-2"><i class="fa fa-times"></i> Cancel</a>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        <h4 class="card-title">Task Actions</h4>
    </div>
    <div class="card-body">
        @if (Model.TaskActions.Any())
        {
            <table class="table  border table-hover">
                <thead class="thead-dark">
                    <tr >
                        <th>Date</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>New Status</th>
                        <th>User Name</th>
                    </tr>
                </thead>
                @foreach (var action in Model.TaskActions)
                {
                    <tr>
                        <td>
                            <span><h5>@action.ActionDate.ToString("dd/MM/yyyy")</h5></span>
                        </td>
                        <td>
                            <span><h5>@action.Description</h5></span>
                        </td>
                        <td>
                            <span><h5>@action.CurrentTaskStatusName</h5></span>
                        </td>
                        <td>
                            <span><h5>@action.TaskStatusName</h5></span>
                        </td>
                        <td>
                            <span><h5>@action.UserName</h5></span>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <h5 class="card-title">none at the moment</h5>
        }
    </div>
    <div class="card-footer">

    </div>
</div>


<div class="card mt-3">
    <div class="card-header">
        <h4 class="card-title">Task Team </h4>
    </div>
    <div class="card-body">
        @if (Model.TaskTeam.Any())
        {
            <table class="table table-light table-hover">


                @foreach (var employee in Model.TaskTeam)
                {
                    <tr>
                        <td>
                            <h5 class="card-text">@employee.EmployeeName</h5>
                        </td>
                    </tr>

                }
            </table>
        }
        else
        {
            <h5 class="card-title">none at the moment</h5>
        }
    </div>
    <div class="card-footer">
        @if (User.IsInRole("Admin") || User.Identity.Name == Model.TaskOwnerUserName)
        {
            <a asp-action="EditEmployeeInTask" asp-controller="Tasks" asp-route-TaskId="@Model.Id" class="btn btn-outline-primary" style="width:auto"><i class="fa fa-edit"></i> Add or Remove Employee</a>
        }
    </div>
    <br />
    <br />
</div>

