@model List<MSIS.ViewModels.TaskDetailsViewModel>
@{
    ViewBag.Title = "List Tasks";
}


<nav class="navbar navbar-expand-lg navbar-light bg-light" hidden>
    <a class="navbar-brand" href="#">TMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" hidden>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link btn btn-outline-primary  btn-sm" asp-action="Create" asp-controller="Tasks" style="width:auto;"><i class="fa fa-plus-circle"></i> Add New Task <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown m-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>

    </div>
</nav>
<div class="flex-container">
    <div class="column">
        <a class="nav-link btn btn-outline-primary  btn-sm" asp-action="Create" asp-controller="Tasks" style="width:auto;"><i class="fa fa-plus-circle"></i> <span class="sr-only">(current)</span></a>
    </div>
    <div class="column">
        @*<form asp-action="ListWaitingTasks" asp-controller="Tasks" method="get" )>*@
        <button id="Waiting" class="numberCircle btn btn-secondary text-center m-1 " style="width:50px;border-radius:20;">0</button>
        @*</form>*@

        @*<a id="Waiting" asp-action="ListWaitingTasks" asp-controller="Tasks" class="numberCircle btn btn-secondary text-center m-1" style="width:50px;border-radius:20;">0</a>*@
    </div>
    <div class="column">
        <button id="InProgress" class="numberCircle btn btn-primary text-center m-1" style="width:50px;border-radius:20;">0</button>
        @*<a id="InProgress" asp-action="ListInProgressTasks" asp-controller="Tasks" class="numberCircle btn btn-primary text-center m-1" style="width:50px;border-radius:20;">0</a>*@
    </div>
    <div class="column">
        <button id="Done" class="numberCircle btn btn-warning text-center m-1" style="width:50px;border-radius:20;">0</button>
    </div>
    <div class="column">
        <button id="Approved" class="numberCircle btn btn-success text-center m-1" style="width:50px;border-radius:20;">0</button>
    </div>
    <div class="column">
        <button id="Rejected" class="numberCircle btn btn-danger text-center m-1" style="width:50px;border-radius:20;">0</button>
    </div>
    <div class="column">
        <button id="showAll" class="numberCircle btn btn-outline-primary text-center m-1" style="width:50px;border-radius:20;">All</button>
    </div>
</div>

@*<a class="btn  btn-outline-dark m-3 table-responsive-sm"  style="width:auto" asp-action="Create" asp-controller="Tasks"><i class="fa fa-plus-circle">Add New Task</i></a>*@

<div id="showWaiting" class="column">


    <div style=" border:solid 1px black; padding:3px;">
        <table class="table table-hover" id="myTable">
            @*gridtable*@
            <thead class="thead-dark">
                <tr>
                    <th>Task Date</th>
                    <th>Task Subject</th>
                    <th>Responsible for Task</th>
                    <th style="width:100px;">Task Status</th>
                    <th style="width:30px;"></th>
                    <th style="width:30px;"></th>

                </tr>
            </thead>



            @foreach (var task in Model)
            {

                <tr>
                    <td>@task.TaskStartDate</td>
                    <td>@task.TaskSubject</td>
                    <td>@task.TaskResponsibleName</td>
                    
                    @if (task.TaskStatusId == 1)
                    {
                        <td class="bg-secondary text-center">@task.TaskStatus </td>
                    }
                    else if (task.TaskStatusId == 2)
                    {
                        <td class="bg-primary text-center">@task.TaskStatus </td>
                    }
                    else if (task.TaskStatusId == 3)
                    {
                        <td class="bg-danger text-center">@task.TaskStatus </td>
                    }
                    else if (task.TaskStatusId == 4)
                    {
                        <td class="bg-warning text-center">@task.TaskStatus </td>
                    }
                    else if (task.TaskStatusId == 5)
                    {
                        <td class="badge-success text-center">@task.TaskStatus </td>
                    }
                    else
                    {
                        <td>@task.TaskStatus </td>

                    }

                    <td><a class="btn btn-outline-primary btn-sm rounded-circle " style="width:auto" asp-action="Details" asp-controller="Tasks" asp-route-Id="@task.Id"><i class="fa fa-eye"></i></a></td>
                    <td>
                        <form asp-action="DeleteCustomer" asp-route-Id="@task.Id" method="post">
                            <span id="confirmDeleteSpan_@task.Id" style="display:none">
                                <span>Are you sure you want to delete?</span>
                                <button type="submit" class="btn btn-danger"><i class="fa fa-check-circle"></i>Yes</button>
                                <a href="#" class="btn btn-primary"
                                   onclick="confirmDelete('@task.Id',false)"><i class="fa fa-times-circle"></i> No</a>
                            </span>
                            <span id="deleteSpan_@task.Id">
                                <a href="#" class="btn btn-outline-danger rounded-circle btn-sm" style="width:auto"
                                   onclick="confirmDelete('@task.Id',true)"><i class="fa fa-trash"></i></a>
                            </span>

                        </form>
                    </td>
                </tr>

            }


        </table>
    </div>
</div>
    <div id="error">

    </div>
    @section Scripts{
        <script src="~/js/CustomScript.js"></script>
        <script>

            $.ajax({
                type: 'GET',
                url: '/Tasks/TaskCountByStatus',
                headers: { Accept: "application/json;charset=utf-8", "Content-Type": "application/json;charset=utf-8" },
                success: function (result) {

                    $.each(result, function (i, item) {
                        //var ID = item.Id;
                        document.getElementById("Approved").innerHTML = result.ApprovedCount;
                        document.getElementById("Rejected").innerHTML = result.RejectedCount;
                        document.getElementById("Waiting").innerHTML = result.WaitingCount;
                        document.getElementById("InProgress").innerHTML = result.InProgressCount;
                        document.getElementById("Done").innerHTML = result.DoneCount;

                    });

                }
            });


            //////////////////////////////// Status filter
            $('#Waiting').click(function () {
                $.ajax({
                    url: '/Tasks/ListWaitingTasks',
                    type: 'Get',
                    success: function (response) {
                        $('#showWaiting').html(response);
                        $('#myTable').DataTable();
                    }
                });
            });

            $('#InProgress').click(function () {
                $.ajax({
                    url: '/Tasks/ListInProgressTasks',
                    type: 'Get',
                    success: function (response) {
                        $('#showWaiting').html(response);
                        $('#myTable').DataTable();
                    }
                });
            });

            $('#Done').click(function () {
                $.ajax({
                    url: '/Tasks/ListDoneTasks',
                    type: 'Get',
                    success: function (response) {
                        $('#showWaiting').html(response);
                        $('#myTable').DataTable();
                    }
                });
            });

            $('#Approved').click(function () {
                $.ajax({
                    url: '/Tasks/ListApprovedTasks',
                    type: 'Get',
                    success: function (response) {
                        $('#showWaiting').html(response);
                        $('#myTable').DataTable();
                    }
                });
            });
            $('#Rejected').click(function () {
                $.ajax({
                    url: '/Tasks/ListRejectedTasks',
                    type: 'Get',
                    success: function (response) {
                        $('#showWaiting').html(response);
                        $('#myTable').DataTable();
                    }
                });
            });

            $('#showAll').click(function () {
                $.ajax({
                    url: '/Tasks/ListTasksPartial',
                    type: 'Get',
                    success: function (response) {
                        $('#showWaiting').html(response);
                        $('#myTable').DataTable();
                    }
                });
            });

        </script>
    }
