@model List<MSIS.ViewModels.ProjectDetailViewModel>


@{
    ViewBag.Title = "List Projects";
}

<h3 class="text-center">List of Projects</h3>
<a asp-action="Create" asp-controller="Projects" class="btn btn-outline-primary mt-2 mb-2" style="width:auto"><i class="fa fa-plus-circle"></i></a>
<div style="border:solid 1px black; padding:3px;">
    <table class="table gridtable table-hover" id="myTable">
        <thead class="thead-dark">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Customer</th>
                <th>Address</th>
                <th>Email</th>
                <th style="width:30px;"></th>
                <th style="width:30px;"></th>
            </tr>
        </thead>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.ProjectSerial/@project.ProjectYear</td>
                <td>@project.ProjectName</td>
                <td>@project.CustomerName</td>
                <td>@project.Address</td>
                <td>@project.Email</td>
                <td><a class="btn btn-outline-primary btn-sm rounded-circle" asp-action="Details" asp-controller="Projects" asp-route-Id="@project.Id" style="width:auto"><i class="fa fa-eye"></i></a></td>
                <td>
                    <form asp-action="DeleteProject" asp-route-Id="@project.Id" method="post">
                        <span id="confirmDeleteSpan_@project.Id" style="display:none">
                            <span>Are you sure you want to delete?</span>
                            <button type="submit" class="btn btn-danger"><i class="fa fa-check-circle"></i>Yes</button>
                            <a href="#" class="btn btn-primary"
                               onclick="confirmDelete('@project.Id',false)"><i class="fa fa-times-circle"></i> No</a>
                        </span>
                        <span id="deleteSpan_@project.Id">
                            <a href="#" class="btn btn btn-sm btn-outline-danger rounded-circle" style="width:auto"
                               onclick="confirmDelete('@project.Id',true)"><i class="fa fa-trash"></i></a>
                        </span>
                        @*<button type="submit" class="btn btn-danger"
                                    onclick="return confirm('Are you sure you want to Delete User : @user.UserName')">
                                Delete
                            </button>*@

                    </form>
                </td>
            </tr>
        }
    </table>
</div>



@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}