@model List<PurchaseOrderItemsViewModel>
<div class="card mt-3 col-12">

    <div class="card-header">
        <h5 class="card-title"> Purchase Order Items</h5>
        <button id="btnAddItem" type="button" class="btn btn-primary" style="width:auto;">
            <i class="fa fa-plus-circle"></i>
        </button>
        <button id="btnEditItem" type="button" class="btn btn-primary" style="width:auto;">
            <i class="fa fa-edit"></i>
        </button>

        <button id="btnDeleteItem" class="btn btn-danger" style="width:auto"><i class="fa fa-trash"></i></button>
    </div>
    <div class="card-body">
        <table id="tblItemDetails" class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Item</th>
                    <th style="visibility:hidden;">ItemUnitId</th>
                    <th>Unit</th>
                    <th>Qnt.</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                    <th>Description</th>
                    <th style="width:30px;"></th>
                    <th style="width:30px;"></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.ItemName</td>
                    <td>@item.ItemUnitId</td>
                    <td>@item.ItemUnitName</td>
                    <td>@item.QNT</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.TotalPrice</td>
                    <td>@item.Description</td>
                    <td>
                        <button type='button' id='btnEditItem' class='btn btn-outline-primary btn-sm rounded-circle' onclick=EditItem(@item.Id) style='width:auto'><i class='fa fa-edit'></i></button>
                    </td>
                    <td>
                        <button type='button' id='btnconfirmDel' class='btn btn-outline-danger btn-sm rounded-circle' onclick=contDelete(@item.Id) style='width:auto'><i class='fa fa-trash'></i></button>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

