@model EditPurchaseOrderViewModel
@{
    ViewData["Title"] = "Edit";
}

<!----------------------Confirm Delete -->
<div class="modal fade" id="dlgConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel">title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><h5 class="card-text">Are you sure you want to delete?</h5></span>
                <input id="txtDeleteItemID" type="text" hidden placeholder="text" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" style="width:auto;"><i class="fa fa-times"></i> cancel</button>
                <button id="btnSave" data-dismiss="modal" onclick="DeleteItem()" type="button" class="btn btn-outline-danger" style="width:auto;"><i class="fa fa-trash"></i> Delete </button>
            </div>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary" asp-action="ListPurchaseOrders" asp-controller="PurchaseOrders" asp-route-Id="@Model.PurchaseOrderDetails.Id" style="width:auto;"> <i class="fa fa-print"> Print</i></a>
</div>
<!----------------------Confirmation-->
<div class="modal fade" id="dlgConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel">title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span><h5 class="card-text">Are you sure you want to delete?</h5></span>
                <input id="txtDeleteItemID" type="text" hidden placeholder="text" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" style="width:auto;"><i class="fa fa-times"></i> cancel</button>
                <button id="btnSave" data-dismiss="modal" onclick="DeleteItem()" type="button" class="btn btn-outline-danger" style="width:auto;"><i class="fa fa-trash"></i> Delete </button>
            </div>
        </div>
    </div>
</div>
<!-----------------------Modal        -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div>
                <input type="text" id="txtEditMode" value="false" />
            </div>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Purchase Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group col-sm-12 row">
                    <span class="input-group-text col-sm-3 " id="txtItem-addon">Id</span>
                    <input id="txtId" class="form-control col-sm-9" disabled placeholder="Item" aria-describedby="txtId-addon" />
                </div>
                <div class="input-group col-sm-12 row">
                    <span class="input-group-text col-sm-3 " id="txtItem-addon">Item</span>
                    <textarea id="txtItem" class="form-control col-sm-9" placeholder="Item" aria-describedby="txtItem-addon" ></textarea>
                </div>
                <div class="input-group col-sm-12 row">
                    <span class="input-group-text col-sm-3 " id="txtUnit-addon">Unit</span>
                    @Html.DropDownList("txtUnit", new SelectList(Model.Units, "Id", "ItemUnitName"), new { @id = "txtUnit", @class = "form-control" })

                    @*<input id="txtUnit" class="form-control col-sm-9" placeholder="Unit" aria-describedby="txtUnit-addon" />*@
                </div>
                <div class="input-group col-sm-12 row">
                    <span class="input-group-text col-sm-3 " id="txtQnt-addon">Qnt</span>
                    <input id="txtQnt" type="number" class="form-control col-sm-9" placeholder="Qnt" aria-describedby="txtQnt-addon" />
                    <span id="errQNT" class="text-danger"></span>
                </div>
                <div class="input-group col-sm-12 row">
                    <span class="input-group-text col-sm-3 " id="txtPrice-addon">Price</span>
                    <input id="txtPrice" type="number" class="form-control col-sm-9" placeholder="Price" aria-describedby="txtPrice-addon" />
                    <span id="errPrice" class="text-danger"></span>
                </div>
                <div class="input-group col-sm-12 row">
                    <span class="input-group-text col-sm-3 " id="txtTotal-addon">Total Price</span>
                    <input id="txtTotal" readonly class="form-control col-sm-9" placeholder="Total" aria-describedby="txtTotal-addon" />
                </div>
                <div class="input-group col-sm-12 row">
                    <span class="input-group-text col-sm-3 " id="txtNotes-addon">Notes</span>
                    <textarea id="txtNotes" class="form-control col-sm-9" placeholder="Notes" aria-describedby="txtNotes-addon" ></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" style="width:auto;"><i class="fa fa-times"></i> close</button>
                <button id="btnSaveAjax" type="button" class="btn btn-outline-primary" style="width:auto;"><i class="fa fa-save"></i> save</button>


                @*<button type="button" class="btn btn-success" id="btnSaveAjax" >Save</button>*@
            </div>
        </div>
    </div>
</div>
<!-----------------------Card-->
<form method="post" class="mt-3">
    <div class="card mt-3">
        <div class="card-header">
            <h3 class="text-center">Purchase Order Details</h3>
        </div>
        <div class="card-body">
            <!--------------------- Main Data -->
            <div class="flex-container">
                <div class="input-group col-sm-6 row">
                    <span class="input-group-text col-sm-3 " id="txtId-addon">Id</span>
                    <input asp-for="PurchaseOrderDetails.Id" id="txtOrderId" class="form-control col-sm-4 " disabled placeholder="txtOrderId" aria-describedby="txtId-addon" />
                    <input asp-for="PurchaseOrderDetails.PurchaseOrderCode" id="txtPurchaseOrderCode" class="form-control col-sm-4 " disabled placeholder="PurchaseOrderCode" aria-describedby="txtPurchaseOrderCode-addon" />
                    <span asp-validation-for="PurchaseOrderDetails.Id" class="text-danger"></span>
                </div>
                <div class="input-group col-sm-6 row">
                    <span class="input-group-text col-sm-3 " id="PurchaseOrderDate-addon">Date</span>
                    <input type="text" asp-for="PurchaseOrderDetails.PurchaseOrderDate" id="txtPurchaseOrderDate" class="form-control col-sm-9 datepicker" placeholder="Date" aria-describedby="PurchaseOrderDate-addon" />
                    <span asp-validation-for="PurchaseOrderDetails.PurchaseOrderDate" class="text-danger"></span>
                </div>

                <div class="input-group row col-sm-6">
                    <span class="input-group-text col-sm-3 col-form-label">Currency</span>
                    @Html.DropDownListFor(x => Model.PurchaseOrderDetails.CurrencyId, new SelectList(Model.CurrencyList, "Id", "CurrencyName"), new { @id = "txtCurrencyId", @class = "form-control" })
                    <span asp-validation-for="PurchaseOrderDetails.CurrencyId" class="text-danger"></span>
                </div>


                <div class="input-group row col-sm-6">
                    <span class="input-group-text col-sm-3 col-form-label">Supllier</span>
                    @Html.DropDownListFor(x => Model.PurchaseOrderDetails.SupplierId, new SelectList(Model.suppliers, "Id", "SupplierName"), new { @id = "txtSupplierId", @class = "form-control" })
                    <span asp-validation-for="PurchaseOrderDetails.SupplierId" class="text-danger"></span>
                </div>
                <div class="input-group row col-sm-6">
                    <span class="input-group-text col-sm-3 col-form-label">Employee</span>
                    @Html.DropDownListFor(x => Model.PurchaseOrderDetails.EmployeeId, new SelectList(Model.Employees, "Id", "Name"), new { @id = "txtEmployeeId", @class = "form-control" })
                    <span asp-validation-for="PurchaseOrderDetails.EmployeeId" class="text-danger"></span>
                </div>

                <div class="input-group row col-sm-6">
                    <span class="input-group-text col-sm-3 col-form-label">Project</span>
                    @Html.DropDownListFor(x => Model.PurchaseOrderDetails.ProjectId, new SelectList(Model.Projects, "Id", "ProjectName"), new { @id = "txtProjectId", @class = "form-control" })
                    <span asp-validation-for="PurchaseOrderDetails.ProjectId" class="text-danger"></span>
                </div>

                <div class="input-group row col-sm-6">
                    <span class="input-group-text col-sm-3 col-form-label">Branch</span>
                    @Html.DropDownListFor(x => Model.PurchaseOrderDetails.BranchId, new SelectList(Model.Branches, "Id", "Name"), new { @id = "txtBranchId", @class = "form-control" })
                    <span asp-validation-for="PurchaseOrderDetails.BranchId" class="text-danger"></span>
                </div>
                <div class="input-group row col-sm-12">
                    <span asp-for="PurchaseOrderDetails.Notes" class="input-group-text col-sm-2 col-form-label" id="Notes-addon">Description</span>
                    <input id="txtOrderNotes" type="text" asp-for="PurchaseOrderDetails.Notes" class="form-control" placeholder="Notes" aria-describedby="Notes-addon" />
                    <span asp-validation-for="PurchaseOrderDetails.Notes" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-center mr-sm-2">
                <button onclick="savePurchaseOrder()" style="width:auto;" type="button" class="btn btn-outline-primary"><i class="fa fa-save"></i> Update</button>
                <a style="width:auto;" asp-action="ListPurchaseOrders" asp-controller="PurchaseOrders" class="btn btn-outline-danger ml-2"><i class="fa fa-times"></i>Cancel</a>
            </div>
        </div>
    </div>
        <!-------------------- Items -->
        <div class="card mt-3">
            <div class="card-header">
                <div class="flex-container">
                    <div class="col-11"><h5 class="card-title"> Purchase Order Items</h5></div>
                    <div class="col-1 "> <button id="btnAddItem" type="button" class="btn btn-primary" style="width:auto;text-align:left;"><i class="fa fa-plus-circle"></i></button></div>
                </div>
                @*<button id="btnEditItem" type="button" class="btn btn-primary"  style="width:auto;">
                    <i class="fa fa-edit"></i>
                </button>

                <button id="btnDeleteItem" class="btn btn-danger" style="width:auto"><i class="fa fa-trash"></i></button>*@
            </div>
            <div class="card-body">
                <div id="OrderItems"  class="col-12">
                    <table id="tblItemDetails" class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Id</th>
                                <th colspan="2">Item</th>
                                @*<th style="visibility:hidden;width:1px;">Unit Id</th>*@
                                <th>Unit</th>
                                <th>Qnt.</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                                <th>Description</th>
                                <th style="width:30px;"></th>
                                <th style="width:30px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PurchaseOrderDetails.OrderItems)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.ItemName</td>
                                    <td style="visibility:hidden;width:1px;">@item.ItemUnitId</td>
                                    <td>@item.ItemUnitName</td>
                                    <td>@item.QNT</td>
                                    <td>@item.UnitPrice</td>
                                    <td>@item.TotalPrice</td>
                                    <td>@item.Description</td>
                                    <td>
                                        <button type='button' id='btnEditItem' class='btn btn-outline-primary btn-sm rounded-circle' onclick=EditItem(@item.Id) style='width:auto'><i class='fa fa-edit'></i></button>
                                    </td>
                                    <td>
                                        <button type='button' id='btnconfirmDel' class='btn btn-outline-danger btn-sm rounded-circle' onclick=contDelete(@item.Id) style='width:auto'><i class='fa fa-trash'></i></button>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
 

</form>

@section Scripts{
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/js/CustomScript.js"></script>

    <script>
        InitDatepicker();

        //---------------- Ready
        $(document).ready(function () {
            // -------------  General
            $('#txtEditMode').val('true');
            $('#txtEditMode').hide();
            $('#errQNT').hide();
            $('#errPrice').hide();

            var table = $('#tblItemDetails').DataTable({
                columnDefs: [
                    { "name": "ItemUnitId", "targets": 2, visible: false }
                ]
            });

            //------------- Add Item
            $('#btnAddItem').on('click', function () {
                $('#txtEditMode').val('false');
                $('#txtItem').val('');
                $('#txtUnit').val('');
                $('#txtQnt').val(0);
                $('#txtPrice').val(0);
                $('#txtTotal').val(0);
                $('#Notes').val(0);
                $('#basicExampleModal').modal('show')
            });

            function ClearItems() {
                $('#txtEditMode').val('false');
                $('#txtItem').val('');
                $('#txtUnit').val('');
                $('#txtQnt').val(0);
                $('#txtPrice').val(0);
                $('#txtTotal').val(0);
                $('#Notes').val(0);
                $('#basicExampleModal').modal('show')
            };
            $('#btnSaveAjax').click(function () {
                if (validateItem()) {
                    if ($('#txtEditMode').val() == 'true') {
                            $.post('/PurchaseOrders/EditItem',
                                {
                                    Id: $('#txtId').val(),
                                    Description: $('#txtNotes').val(),
                                    ItemName: $('#txtItem').val(),
                                    ItemUnitId: $('#txtUnit').val(),
                                    QNT: $('#txtQnt').val(),
                                    PuchaseOrderId: $('#txtOrderId').val(),
                                    UnitPrice: $('#txtPrice').val()
                                },
                                function (response, status) {
                                    $('#OrderItems').html('');
                                    BuildItemsTable(response);
                                }
                            );
                        } else {
                            $.post('/PurchaseOrders/AddItem',
                                {
                                    Id: $('#txtId').val(),
                                    Description: $('#txtNotes').val(),
                                    ItemName: $('#txtItem').val(),
                                    ItemUnitId: $('#txtUnit').val(),
                                    QNT: $('#txtQnt').val(),
                                    PuchaseOrderId: $('#txtOrderId').val(),
                                    UnitPrice: $('#txtPrice').val()
                                },
                                function (response, status) {
                                    $('#OrderItems').html('');
                                    BuildItemsTable(response);
                                    ClearItems();
                                }
                            );
                        }
                    }
                }
            );


        });

        //----------------- Render Table
        function BuildItemsTable(response) {
            var i;
            var strResult = "";
            strResult = '<table id="tblItemDetails" class="table table-hover">';
            strResult = strResult + '<thead class="thead-dark">';
            strResult += "<tr>";
            strResult += "<th>Id</th>";
            strResult += "<th>Item</th>";
            strResult += "<th style='visibility:hidden;'>ItemUnitId</th>";
            strResult += "<th>Unit</th>";
            strResult += "<th>Qnt.</th>";
            strResult += "<th>Unit Price</th>";
            strResult += "<th>Total Price</th>";
            strResult += "<th>Description</th>";
            strResult += "<th style='width:30px;'></th>";
            strResult += "<th style='width:30px;'></th>";

            strResult += "</tr>";

            strResult += "</thead>";
            strResult += "<tbody>";

            var text = "";
            for (i = 0; i < response.length; i++) {
                strResult += "<tr>";
                strResult += "<td>" + response[i].Id + "</td>";
                strResult += "<td>" + response[i].ItemName + "</td>";
                strResult += "<td>" + response[i].ItemUnitId + "</td>";
                strResult += "<td>" + response[i].ItemUnitName + "</td>";
                strResult += "<td>" + response[i].QNT + "</td>";
                strResult += "<td>" + response[i].UnitPrice + "</td>";
                strResult += "<td>" + response[i].TotalPrice + "</td>";
                strResult += "<td>" + response[i].Description + "</td>";
                strResult += "<td>";
                strResult += "<button type='button' id='btnEditItem' class='btn btn-outline-primary btn-sm rounded-circle' onclick=EditItem(" + response[i].Id + ") style = 'width:auto' > <i class='fa fa-edit'></i></button > ";
                strResult +="</td>"
                //strResult += "<form asp-action='DeleteCustomer' asp-route-Id='" + response[i].Id + "' method='post'>";
                //strResult += "<span id='confirmDeleteSpan_" + response[i].Id + "' style='display:none'>";
                //strResult += "                <span>Are you sure you want to delete?</span>";
                //strResult += "                <button type='submit' class='btn btn-danger'><i class='fa fa-check-circle'></i>Yes</button>";
                //strResult += "                <a href='#' class='btn btn-primary";
                //strResult += "                   onclick='confirmDelete('" + response[i].Id + "',false)'><i class='fa fa-times-circle'></i> No</a>";
                //strResult += "             </span>";
                //strResult += "            <span id='deleteSpan_" + response[i].Id + ">'";
                strResult +="<td>"
                strResult += "                <Button Type='Button' class='btn btn-outline-danger rounded-circle btn-sm' style='width:auto'";
                strResult += "                    onclick=contDelete(" + response[i].Id + ")><i class='fa fa-trash'></i></a>";
                //strResult += "        </span >";
                //strResult += "    </form >";
                strResult += "</td>";
                strResult += "</tr>";
            };
            strResult += "</tbody>";
            strResult += "</table>";
            console.log(strResult);
            $('#OrderItems').html(strResult);
            var table = $('#tblItemDetails').DataTable({
                columnDefs: [
                    { "name": "ItemUnitId", "targets": 2, visible: false }
                ]
            });
            return strResult;
        };

        //----------------- Edit order Items
        function EditItem(ItemId) {
            $.get('/PurchaseOrders/getItem',
                { Id: ItemId },
                function (data, status) {
                    $('#txtEditMode').val('true');
                    $('#txtId').val(data.Id);
                    $('#txtItem').val(data.ItemName);
                    $('#txtUnit').val(data.ItemUnitId);
                    $('#txtQnt').val(data.QNT);
                    $('#txtPrice').val(data.UnitPrice);
                    $('#txtTotal').val(data.TotalPrice);
                    $('#txtNotes').val(data.Description);

                    $('#basicExampleModal').modal('show')
                }
            );
        };
        //----------------- validate Item
        function validateItem() {
            var isValid = true;
            if ($.isNumeric($('#txtPrice').val())) {
                if ($.isNumeric($('#txtQnt').val())) {
                    if ($('#txtPrice').val() == 0 || $('#txtQnt').val() == 0) {
                        isValid = false;
                        alert('Price and Qnt must be more than 0');
                    };
                } else {
                        isValid = false;
                        alert('Qnt must be Numeric Value');
                };

                } else {
                        isValid = false;
                        alert('Price must be Numeric Value');
                };

            return isValid;
        }

        //---------------Confirm Item Delete
        function contDelete(ItemId) {
            $('#txtDeleteItemID').val(ItemId);
            $('#dlgConfirmDelete').modal('show');
        };

        //-------------- Delete Item Button
        function DeleteItem() {
            $.post('/PurchaseOrders/DeleteItem',
                {
                    Id: $('#txtDeleteItemID').val()
                },
                function (response, status) {
                    alert(response);
                    BuildItemsTable(response);
                }
            );
        };
        //------------------- Dialog input Validation
        //------------------- Validate QNT
        $('#txtQnt').focusout(function () {

            if ($.isNumeric($('#txtQnt').val())) {
                $('#errQNT').hide();
                if ($.isNumeric($('#txtPrice').val())) {
                    $('#txtTotal').val($('#txtPrice').val() * $('#txtQnt').val())
                };
            } else {
                $('#errQNT').text('not Numeric Value?');
                $('#errQNT').show();

            };
        });
        //------------------- Validate Price
        $('#txtPrice').focusout(function () {

            if ($.isNumeric($('#txtPrice').val())) {
                $('#errPrice').hide();
                if ($.isNumeric($('#txtQnt').val())) {
                    $('#txtTotal').val($('#txtPrice').val() * $('#txtQnt').val())
                };
            } else {
                $('#errPrice').text('not Numeric Value?');
                $('#errPrice').show();

            };
        });
        //------------------------------- save Purchase Order
            function savePurchaseOrder () {

                if ($.isNumeric($('#txtOrderId').val())) {
                    if (true) {
                        $.post('/PurchaseOrders/EditPurchase',
                            {
                                Id: $('#txtOrderId').val(),
                                PurchaseOrderDate: $('#txtPurchaseOrderDate').val(),
                                SupplierId: $('#txtSupplierId').val(),
                                EmployeeId: $('#txtEmployeeId').val(),
                                ProjectId: $('#txtProjectId').val(),
                                BranchId: $('#txtBranchId').val(),
                                CurrencyId: $('#txtCurrencyId').val(),
                                CurrencyRate: 1,
                                Notes: $('#txtOrderNotes').val(),
                                data: null
                            },
                            function (response, status) {
                                BuildItemsTable(response);
                            }
                        );
                    } else {
                        $.post('/PurchaseOrders/AddItem',
                            {
                                Id: $('#txtId').val(),
                                Description: $('#txtNotes').val(),
                                ItemName: $('#txtItem').val(),
                                ItemUnitId: $('#txtUnit').val(),
                                QNT: $('#txtQnt').val(),
                                PuchaseOrderId: $('#txtOrderId').val(),
                                UnitPrice: $('#txtPrice').val()
                            },
                            function (response, status) {
                                BuildItemsTable(response);
                            }
                        );
                    }
                }
        };



        $(window).ready(function () {
            $('#mnuTMS').removeClass('collapse show');
            $('#mnuPurchaseOrders').addClass('collapse show');
            $('#mnuTMS').addClass('collapse hide');
        });

    </script>
}
